site_name: rare
site_url: https://rare.zdyn.net/
repo_url: https://github.com/zix99/rare

site_description: Realtime regex-extraction and aggregation into common formats such as histograms, bar graphs, numerical summaries, tables, and more!
site_author: Christopher LaPointe
copyright: '2019 Christopher LaPointe'

nav:
  - Home: index.md
  - Usage:
    - Overview: usage/overview.md
    - Input: usage/input.md
    - Extractor: usage/extractor.md
    - Expressions: usage/expressions.md
    - Aggregators: usage/aggregators.md
    - Examples: usage/examples.md
    - Advanced:
      - JSON: usage/json.md
      - Funcs File: usage/funcsfile.md
      - Math: usage/math.md
      - Regular Expressions: usage/regexp.md
      - Dissect Expressions: usage/dissect.md
    - CLI Docs: cli-help.md
  - Benchmarks: benchmarks.md
  - Contributing: contributing.md
  - License: license.md

exclude_docs: images/*.md

theme:
  name: material
  features:
    - navigation.expand
    - content.code.copy
    - content.action.edit
    - navigation.footer
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
  custom_dir: docs/overrides
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

markdown_extensions:
  - toc:
      permalink: true
      baselevel: 1
  - admonition
  - pymdownx.superfences
  - pymdownx.snippets
  - pymdownx.details

extra:
  social:
    - icon: fontawesome/solid/blog
      link: https://zdyn.net
      name: Blog
    - icon: fontawesome/brands/github
      link: https://github.com/zix99/rare
      name: Github
    - icon: fontawesome/solid/mug-hot
      link: https://www.buymeacoffee.com/cmlapointe
      name: Buy Me A Coffee

strict: true
site_dir: dist/site
